.profile-container {
  margin: 3vh 2vw;
}

.profile {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.profile img {
  border-radius: 100%;
  height: 4rem;
}
.total {
  padding: 0;
}

.total li.list {
  list-style: none;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total li h3 {
  margin: 3vh 0;
  display: inline;
}
.total li p {
  margin: 0;
  display: inline;
}
