.forgetPassword-modal {
  position: fixed;
  padding-top: 10%;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.forgetPassword-content {
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 25rem;
  border-radius: 5px;
}

.resetLabel {
  margin-right: 1rem;
}

.resetInput {
  width: 15rem;
}

.close {
  font-size: xx-large;
}

.displayNone {
  display: none;
}
