.overview-container {
  margin: 0;
  padding: 2vh 7vw;
}

.overview-heading {
  align-items: center;
  margin: 2vh 0;
}

.overview-heading p {
  display: inline;
  margin-right: 2vh;
}

.overview-content {
  display: flex;
  flex-direction: row;
}

.overview-content .list-items {
  width: 45%;
  padding: 0;
  height: 68vh;
  overflow: auto;
}

.overview-content li.list {
  list-style: none;
  border-radius: 1rem;
  padding: 3vh 1vw;
  background-color: white;
  width: 20vw;
  margin-bottom: 5vh;
  align-items: center;
}

.overview-content li h4 {
  margin: 0;
  display: inline;
}
.overview-content li p {
  margin: 0;
  display: inline;
}
