.error {
  position: absolute;
  top: 35%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
  font-size: x-large;
}

.errorTitle {
  margin-top: 10rem;
}
