.form {
  background-color: #555454;
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  width: 20rem;
  margin: 6rem auto;
}

.signupForm {
  margin: 3.5rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-transaction {
  border-radius: 1rem;
}

.form-transaction div {
  margin-bottom: 1rem;
}

.form-transaction label {
  display: block;
}

.form-transaction select {
  height: 1.4rem;
}
